<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Working</title>
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <h1>Top des loustics du Projet Spotifhei:</h1>
    <table class="striped">
        <thead>
          <tr>
              <th>N°</th>
              <th>Loustic</th>
          </tr>
        </thead>

        <tbody>


          <tr>
            <td>1</td>
            <td>Alexandre Gigi</td>
          </tr>

          <tr>
            <td>2</td>
            <td>MC Guigui</td>
          </tr>

          <tr>
            <td>3</td>
            <td>Alex Duth</td>
          </tr>

          <tr>
            <td>4</td>
            <td>Alexis Engelareredee</td>
          </tr>

        <tr>
            <td>5</td>
            <td>Clément Salvaje</td>
          </tr>
        </tbody>
      </table>

</body>
</html>